@font-face { font-family: "Inter-Regular"; src: url("./assets/fonts/Inter/Inter-Regular.ttf"); }
@font-face { font-family: "Inter-Medium"; src: url("./assets/fonts/Inter/Inter-Medium.ttf"); }
@font-face { font-family: "Inter-Bold"; src: url("./assets/fonts/Inter/Inter-Bold.ttf"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-blue: #0f172a;
  --bg-gray: #475569;
  --fg-blue: #0b1322;
  --fg-white: #e2e8f0;
  --fg-lightblue: #5c73f6;
  --fg-lightred: #f65c5c;
  --fg-lightgray: #e2e8f0;;
  --priority-high: #ff3a3a50;
  --priority-medium: #ffe13a50;
  --priority-low: #47ff3a50;
}

body {
  font-family: "Inter-Regular";
  height: 100vh;
}

body:has(dialog[open]) .sidebar,
body:has(dialog[open]) .content {
  filter: blur(4px);
}

main {
  display: grid;
  grid-template-columns: 275px 1fr;
  height: inherit;
  background-color: var(--bg-blue);
}

main .content {
  background-color: var(--bg-blue);
}

main box-icon {
  scale: 0.8;
  transition: all 0.1s ease;
}

main box-icon:hover {
  scale: 0.9;
  opacity: 0.8;
}

.sidebar {
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  border-right: 1px solid var(--bg-gray);
  background-color: var(--bg-blue);
}

.sidebar .header {
  display: grid;
  grid-template-columns: 1fr;
  padding: .5rem;
  border-bottom: 1px solid var(--bg-gray);
}

.sidebar .header .add-project {
  justify-self: end;
}

.sidebar .projects {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  padding: .5rem;
}

.sidebar .project {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: .5rem;
  padding: .25rem;
  color: var(--fg-white);
  transition: all 0.3s ease;
}

.sidebar .project .buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.sidebar .project .title {
  display: inline-block;
  font-family: "Inter-Bold";
  font-size: .85rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  text-transform: capitalize;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 41px 1fr;
  background-color: var(--fg-white);
}

.content > .header {
  display: grid;
  align-items: center;
  border-bottom: 1px solid var(--bg-gray);
  padding: 0 .5rem;
}

.content .header .currentProject {
  color: var(--fg-white);
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  gap: .5rem;
  font-size: .85rem;
  vertical-align: middle;
}

.content .currentProject .title {
  font-family: "Inter-Bold";
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  text-transform: capitalize;
}

dialog[open] {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 2rem;
  gap: 1rem;
  color: var(--fg-white);
  border: 1px solid var(--bg-gray);
  background-color: var(--fg-blue);
  overflow: scroll;
  scrollbar-width: none;
}

dialog[open] box-icon {
  scale: 1;
}

dialog[open] box-icon:hover {
  opacity: 0.8;
}

dialog[open] .header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr repeat(2, max-content);
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

dialog[open] .title {
  margin-top: 1rem;
  font-family: "Inter-Medium";
}

dialog[open] .subtitle {
  width: 75%;
  color: var(--bg-gray);
  text-align: center;
}

dialog[open] .cancel {
  color: var(--fg-white);
  background-color: var(--bg-gray);
}

dialog[open] .create {
  color: var(--fg-white);
  background-color: var(--fg-lightblue);
}

dialog[open] .edit {
  color: var(--fg-white);
  background-color: var(--fg-lightred);
}

dialog[open] form label {
  font-family: "Inter-Medium";
}

dialog[open] form .row {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: .75rem;
}

dialog[open] input,
dialog[open] textarea,
dialog[open] select {
  font-family: inherit;
  font-size: .85rem;
  width: 100%;
  height: 34px;
  min-height: 34px;
  padding: .25rem 0 .25rem .25rem;
  border: none;
  border-radius: 4px;
  padding: .5rem;
  outline: 1px solid var(--bg-gray);
  color: var(--fg-white);
  background-color: var(--fg-blue);
  appearance: none;
  scrollbar-width: none;
}

dialog[open] select:has(option[value="low-priority"]:checked) {
  outline-color: var(--priority-low);
}

dialog[open] select:has(option[value="medium-priority"]:checked) {
  outline-color: var(--priority-medium);
}

dialog[open] select:has(option[value="high-priority"]:checked) {
  outline-color: var(--priority-high);
}

dialog[open] textarea {
  resize: vertical;
}

dialog[open] form label {
  font-family: "Inter-Medium";
  font-size: .85rem;
}

dialog[open] button {
  font-family: "Inter-Bold";
  padding: .5rem;
  border: none;
  border-radius: 4px;
  appearance: none;
}

dialog[open] button:hover {
  background-image: linear-gradient(rgb(0 0 0 / 45%) 0 0);
}

dialog[open] .inputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: .75rem;
}

dialog[open] .buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .75rem;
}

dialog[open] ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

dialog[open] form {
  display: grid;
  height: 100%;
  grid-row: 2 / 3;
  gap: 1rem;
}

.project-dialog[open] {
  height: 350px;
}

.project-dialog[open] form {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  gap: .75rem;
}

.todo-dialog[open] {
  height: 600px;
}

.todo-dialog[open] form {
  align-items: center;
}

.view-dialog[open] {
  height: 600px;
}

.view-dialog[open] .buttons {
  grid-template-columns: 1fr;
}

.todos {
  display: grid;
  align-content: start;
  padding: 2rem;
  gap: .5rem;
}

.todo {
  min-width: 300px;
  height: 115px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem;
  align-content: space-between;
  gap: .5rem;
  padding: 1rem;
  border: 1px solid gray;
}

.todo .header {
  display: grid;
  grid-template-rows: repeat(2, 1rem) 1fr;
  align-items: center;
  gap: .5rem;
}

.todo .footer {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-content: space-between;
  align-items: center;
}

.todo .title {
  max-width: 450px;
  font-family: "Inter-Bold";
  font-size: .85rem;
  color: var(--fg-white);
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

.todo .description {
  font-size: .75rem;
  color: var(--fg-lightgray);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

.todo .description::first-letter {
  text-transform: uppercase;
}

.todo .time {
  font-family: "Inter-Medium";
  font-size: .85rem;
  color: var(--fg-lightgray);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

.todo .buttons {
  justify-self: end;
  align-self: end;
  display: grid;
  grid-template-columns: repeat(3, max-content);
}

.high-priority {
  border-color: var(--priority-high);
}

.medium-priority {
  border-color: var(--priority-medium);
}

.low-priority {
  border-color: var(--priority-low);
}